# Object files
*.o

# Executables
bin/*
**/bin/*
**/*-demo
**/*-test
**/*-runner
penn-shell
pennfat
test_pennfat
test_runner
ll_test
test_scheduler

# Log files
log/*
src/scheduler.log
*.log
scheduler.log

# Build directories
build/ 

*.sh

# test filesystems
testfs*

# extras
.vscode/
extra.md