# Object files
*.o

# Executables
bin/*
**/bin/*
**/*-demo
**/*-test
**/*-runner
penn-shell
pennfat
test_pennfat
test_runner

# Log files
log/*
src/scheduler.log
*.log

# Build directories
build/ 

*.sh

# test filesystems
testfs*
